---
Language: Cpp
BasedOnStyle: LLVM
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
ColumnLimit: 0
BreakBeforeBraces: Allman
IndentWidth: 4
TabWidth: 4
UseTab: Never
AlignAfterOpenBracket: DontAlign
AlignConsecutiveDeclarationsMinWidth: 20                  # 关闭行宽限制